.fundo {
  background-color: rgb(245, 245, 245);
}
.jumbotron {
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  @media screen {
    opacity: 100%;
    background-image: url("../../assets/Home/SalaFundo2.png");
    background-size: cover;
  }
}
.titulo {
  font-weight: bold;
  font-size: 40px;
}
.descricao {
  font-size: 20px;
  font-weight: 300;
}
.sobre {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.sobre_text {
  margin: 20px;
  padding: 20px;
  font-size: 17px;
  background-color: whitesmoke;
  border-radius: 20px;
  width: 40vw;
}
.sobre_title {
  font-size: 30px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .sobre {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
