.header{
  margin: 10px;
  text-align: center;
}
.paginas{
  align-items: center;
  justify-content: center;
}

.teste{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}