.header{
  margin: 10px;
  text-align: center;
}
.paginas{
  align-items: center;
  justify-content: center;
}

.teste{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.TextLogin{
  background-color: rgb(0, 195, 255);
  outline: auto;
  margin: 5px 3px;
  border-radius: 9px;
  font-size: 18px;
}

.TextSignIn{
  background-color: rgb(250, 255, 224);
  outline: auto;
  margin: 5px 3px;
  border-radius: 9px;
  font-size: 18px;
}