.Container {
  display: flex;
  background-color: bisque;
  justify-content: space-around;
}
.apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ajustes {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ajustes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

}
