.login {
  border-radius: 9px;
  outline: 2px black;
  border: 1px solid #ffffff;
  width: 100%;
  @media screen {
    max-width: 400px;
    min-width: 200px;
  }
  padding: 30px;
}
.formulario {
  background-color: #c1cae7;
  border-width: 1px;
  border-color: black;
}
